# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos crudos (pueden ser grandes o privados)
data/raw/
data/processed/

# Imágenes generadas por el notebook
web/*.png
web/*.pdf

# OS
.DS_Store
Thumbs.db
